*{
    box-sizing: border-box;
    margin: 20;
    padding: 0;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    font-size: 48px;
    display: flex;
    flex-flow: column nowrap;
}

.nav{
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 24px;
    text-align: center;
}

.logins {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.logins>div {
    flex-basis: 100px;
    text-align: justify;
    font-size: 14px;
}

.logins>div:hover {
    opacity: 0.7;
}

.cesta {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
}


.nav-brand {
    width: 50px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

a {
    color: rgb(43, 43, 43);
    text-decoration: none;
}

ul{
    list-style: none;
}

ul li a:hover{
    border-bottom: 2px solid white;
}


.menu-flex {
    display: flex;
    flex-direction: row;
    background-color: rgb(216, 89, 89);
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px 10px;
}

.banner {
    width: 100%;
    height: 400px;
    background: url('./img/banner.jpg') no-repeat center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;}

.btn{
    cursor: pointer;
    border: 0;
    font-weight: regular;
    padding: 10px 20px;
    background: #a3a3a3;
    color: white;
    font-size: 12px;
    margin: 10px 0;
}

.btn:hover {
    opacity: 0.7;
}

.banner h1, 
.banner p {
    margin-bottom: 10px;
    align-items: center;
}
 .banner h1{
    font-family: 'Rowdies', cursive;   
    font-size: 30px;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #b3b3b3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%237b7781' fill-opacity='0.2'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.flex-container1>div {
    background-color: #f1f1f1;
    flex-basis: 75px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.flex-container1>div:hover {
    opacity: 0.7;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d4d4d5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23b1afb5' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.flex-container2>div {
    background-color: #f1f1f1;
    flex-basis: 75px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.flex-container2>div:hover {
    opacity: 0.7;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #838383;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b0b0b0' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");

}

.flex-container3>div {
    background-color: #f1f1f1;
    flex-basis: 75px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.flex-container3>div:hover {
    opacity: 0.7;
}


.footer {
    font-family: 'Rowdies', cursive; 
    font-size: 20px;
    text-align: center;
}
